Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@the-pun-slayer
learn-co-students
/
fe-zetsy-cb-gh-000
17
1125
 Code
 Issues 0
 Pull requests 184 Actions
 Projects 0
 Security 0
 Insights
fe-zetsy-cb-gh-000/css/style.css
@jongrover jongrover solve
f3cd6ca on May 7, 2015
92 lines (73 sloc)  1.16 KB

/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

* {
	padding: 0;
	margin: 0;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

p  {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

.small {
	font-size: 0.8em;
}

/*////////// Section Styles //////////*/

header a {
	color: rgb(152,173,166);
	text-decoration: none;
}

header a:hover {
	color: rgb(111,127,122);
}

#featured img {
	border: 5px rgb(152,173,166) solid;
}

#featured a {
	color: #1783bb;
	text-decoration: none;
}

#featured a:hover {
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}

footer {
	text-align: right;
	background: #fff;
}
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
